<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app" >
<!-- <div v-for="addr in addrs">{{addr}}</div> -->
     <!-- 具体元素名字  数组    单个显示的元素 -->       
<div v-for="(item,index) in addrs">{{index}}:{{item}}</div>
             <!-- 名    索引：从0开始       索引和元素分开写 -->
    <hr>
             <div v-for="(item,index) in addrs">{{index+1}}:{{item}}</div>
    </div>
</body>
   
 <script>
new Vue({//这里一定是要大写！
    el:"#app", //vue接管区域
    data:{
        addrs:["北京","上海","西安","成都","深圳"]
},
methods: {
    
}

})
    </script>

</html>